* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x:hidden; */
} 

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: rgb(228, 228, 228);
    /* background: rgb(97, 157, 217); */
    color: black;
    /* cursor: none; */
    flex-direction: column;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    /* justify-content: left;
    align-items: first baseline; */
    /* padding: 25px 50px 65px 50px; */

    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
    /* display: none; */
}

.back {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding: 10rem 10rem;
}

.project {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    height: 96vh;
    padding: 50px 50px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    background: white;
    /* transform: none; */
    transform: none;
    transform-style: preserve-3d;
}

.three {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 50px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    background: white;
    /* transform: none; */
    transform: none;
    transform-style: preserve-3d;
}

@media (min-width: 40rem) {
    .project {
        width: 40vw;
        height: 90vh;
    }
    .three {
        width: 40vw;
        height: 110vh;
    }
    .esp {
        padding-bottom: 15rem;
    }
}

@media (min-width: 830px) {
    .three {
        width: 40vw;
        height: 95vh;
    }
}

.project .image {
    max-width: 75vw;
    max-height: auto;
    margin: 3rem 0;
    /* padding: 0px 50px; */
    transform: none;
    transition: all 0.75s ease-out;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
}


.two .image {
    max-width: 85vw;
    max-height: auto;
    margin: 3rem 0;
    /* padding: 0px 50px; */
    transition: all 0.75s ease-out;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
}

.three .image {
    max-width: 85vw;
    max-height: 34vh;
    margin: 2rem 0rem;
    /* padding: 0px 50px; */
    transition: all 0.75s ease-out;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
}

@media (min-width: 40rem) {
    .project  .image{
        max-width: 30vw;
        margin: 5rem 2rem;
    }

    .two .image {
        max-width: 30vw;
        margin: 3rem 2rem;
    }

    .three .image {
        max-width: 30vw;
        max-height: 25vh;
        margin: 2rem 2rem;
    }
}


.project .title{
    font-size: 3rem;
    padding: 20px 20px;
    transition: all 0.75s ease-out;
}

.one .title {
    font-size: 3rem;
    padding: 20px 20px;
    transition: all 0.75s ease-out;
    padding-bottom: 0.5rem;
}

.three .title {
    font-size: 3rem;
    padding: 0 0 0 20px;
    transition: all 0.75s ease-out;
}

@media (min-width: 40rem) {
    .three .title {
        font-size: 3rem;
        padding: 20px 20px;
        transition: all 0.75s ease-out;
    }
}


.project .description{
    font-size: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 40rem) {
    .project .description{
        font-size: 1.1rem;
        /* padding: 1rem 1rem; */
        /* margin-bottom: ; */
    }
    
}

.one .description {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    margin-bottom: 4rem;
}

@media screen and (min-width: 736px) {
    .one .description {
        margin-bottom: 2rem;
    }
}

.two .description {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
}

.project .link {
    margin-top: 30px;
    padding: 1rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2); 
    border-radius: 30px;
    cursor: pointer; 
    font-weight: bold;
    text-decoration: none;
    /* max-width: 50vw; */
    width: 40vw;
    text-align: center;

}
.one .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80;
    padding: 0rem 0.5rem;
    margin: 10px;
}

.project .link-normal {
    margin-top: 30px;
    padding: 1rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2); 
    border-radius: 30px;
    cursor: pointer; 
    font-weight: bold;
    text-decoration: none;
    max-width: 100vw;
    text-align: center;
}
.backdrop {
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background: rgba(90, 89, 89, 0.25);
    display: none;
    backdrop-filter: blur(15px);
}